.bestgearSection {
  padding: 20rem 0;
  background-color: var(--gray-light);
  display: flex;
  align-items: center;
  gap: 10rem;
}

.bestgearSection > * {
  flex-basis: 0;
  flex-grow: 1;
}

.bestgearText h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: black;
}

.bestgearText span {
  color: var(--orange);
}

.bestgearText p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: black;
  opacity: 0.5;
  margin-top: 3.2rem;
}

.bestgearSection img {
  border-radius: 0.8rem;
  min-width: 0;
}

@media (max-width: 768px) {
  .bestgearSection {
    padding: 10rem 0;
    flex-direction: column-reverse;
    gap: 6rem;
  }

  .bestgearText {
    width: 85%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .bestgearSection {
    padding: 10rem 0;
    gap: 4rem;
  }

  .bestgearText h2 {
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 1px;
  }

  .bestgearText {
    width: 100%;
  }
}
