.container,
.modalBg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modalWrapper {
  max-width: 105rem;
  margin: 0 auto;
}

.container {
  padding: 12.8rem 2rem;
  z-index: 50;
}

.modalBg {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .modalWrapper {
    max-width: 69rem;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 12rem 2rem;
  }
}
