.pageBanner {
  padding: 10rem 0;
  background-color: black;
}

.pageBanner h1 {
  font-size: 4rem;
  line-height: 4.4rem;
  text-align: center;
  letter-spacing: 1.4rem;
  text-transform: uppercase;
  color: white;
}

.categoryPage main {
  background-color: var(--gray-light);
  padding: 16rem 2rem 0 2rem;
}

.sectionsWrapper {
  max-width: 105rem;
  margin: 0 auto;
}

.productsSection {
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.productsSection article:nth-child(even) > img {
  order: 1;
}

@media (max-width: 768px) {
  .categoryPage main {
    padding-top: 12rem;
  }

  .sectionsWrapper {
    max-width: 69rem;
  }

  .productsSection article:nth-child(even) > img {
    order: 0;
  }

  .productsSection {
    margin-bottom: 0;
    gap: 12rem;
  }
}
