.heroSection {
  height: 100vh;
  margin-top: -9.6rem;
  padding: 20rem 2rem 0 2rem;
  background-image: url("/public/assets/home/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroSectionWrapper {
  max-width: 105rem;
  margin: 0 auto;
}

.heroText {
  width: 37rem;
}

.heroText h4 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: white;
  opacity: 0.5;
}

.heroText h1 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin: 2.4rem 0;
}

.heroText p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white;
  opacity: 0.75;
}

.heroText a {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  color: white;
  background-color: var(--orange);
  margin-top: 4rem;
  transition: all 0.2s;
}

.container {
  background-color: var(--gray-light);
  padding: 0 2rem;
}

.mainWrapper {
  max-width: 105rem;
  margin: 0 auto;
}

.productsSection {
  margin-top: 16rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 4.8rem;
}

.speakerOrange {
  padding: 10rem 10rem 0 12rem;
  background-color: var(--orange);
  background-image: url("/public/assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 83%;
  background-position: -14rem -2rem;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  grid-column: 1 / -1;
  gap: 13rem;
}

.speakerOrange img {
  min-width: 0;
  width: 45%;
  margin-bottom: -1rem;
}

.speakerOrange .textBox {
  width: 45%;
}

.speakerOrange h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.speakerOrange p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white;
  opacity: 0.75;
  margin: 2.4rem 0 4rem 0;
}

.speakerGray {
  overflow: hidden;
  grid-column: 1 / -1;
  position: relative;
}

.speakerOrange a,
.speakerGray a,
.earphoneText a {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
}

.speakerOrange a {
  color: white;
  background-color: black;
  transition: all 0.2s;
}

.speakerGray img {
  border-radius: 0.8rem;
}

.speakerGray .textBox {
  position: absolute;
  left: 10rem;
  top: 50%;
  transform: translateY(-50%);
}

.speakerGray h3 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
}

.speakerGray a,
.earphoneText a {
  color: black;
  border: 1px solid black;
  margin-top: 3.2rem;
  transition: all 0.2s;
}

.earphoneImg {
  overflow: hidden;
}

.earphoneImg img {
  border-radius: 0.8rem;
  height: 100%;
  object-fit: cover;
}

.earphoneText {
  padding: 9rem;
  background-color: var(--gray);
  border-radius: 0.8rem;
}

.earphoneText h3 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
}

@media (hover: hover) {
  .heroText a:hover {
    background-color: var(--orange-hover);
  }

  .speakerOrange a:hover {
    background-color: var(--gray-dark);
  }

  .speakerGray a:hover,
  .earphoneText a:hover {
    color: white;
    background-color: black;
  }
}
