nav {
  max-width: 105rem;
  margin: 0 auto;
  padding: 3.5rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 100;
}

.menuIcon {
  display: none;
}

.navLinks {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 3.4rem;
}

.navLinks li {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.2s;
}

.cartIcon {
  margin-left: auto;
  cursor: pointer;
}

footer nav {
  padding: 0;
  border: none;
  padding-top: 7.5rem;
}

@media (hover: hover) {
  .navLinks li:hover {
    color: var(--orange);
  }

  .cartIcon img:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(41%) saturate(648%)
      hue-rotate(338deg) brightness(97%) contrast(95%);
  }
}

@media (max-width: 768px) {
  nav {
    max-width: 69rem;
  }

  .navLinks {
    margin: unset;
  }

  .menuModal,
  .modalBg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 9.5rem;
    left: 0;
  }

  .menuModal {
    z-index: 100;
  }

  .menuWrapper {
    padding: 0 4rem 6rem 4rem;
    background-color: var(--gray-light);
    border-radius: 0 0 1.5rem 1.5rem;
    position: relative;
    z-index: 100;
  }

  .menuWrapper > section {
    padding-top: 12rem;
  }

  .modalBg {
    background-color: rgba(0, 0, 0, 0.6);
  }

  header .menuIcon {
    display: block;
    margin-right: 4rem;
  }

  header .navLinks {
    display: none;
  }

  footer nav {
    display: block;
    margin: unset;
  }

  footer .navLinks {
    margin-top: 3.2rem;
  }
}
