.product {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.productImg {
  border-radius: 0.8rem;
  min-width: 0;
  flex-basis: 0;
  flex-grow: 1;
}

.productText {
  flex-basis: 0;
  flex-grow: 1;
}

.productText h4 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: var(--orange);
  opacity: 0.5;
}

.productText h2 {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  margin: 2.4rem 0;
}

.productText > p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: black;
  opacity: 0.5;
}

.productText > a {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  color: white;
  background-color: var(--orange);
  margin-top: 4rem;
  transition: all 0.2s;
}

.cartElements {
  margin-top: 4rem;
}

.productPrice {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: black;
}

.cartButtons {
  margin-top: 4.5rem;
  display: flex;
  gap: 1.6rem;
}

.itemAmount {
  background-color: var(--gray);
  display: flex;
  align-items: center;
}

.itemAmount button {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  background-color: var(--gray);
  transition: all 0.2s;
}

.itemAmount p {
  width: 3.8rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
  color: black;
}

.addCart {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background-color: var(--orange);
  padding: 1.5rem 3rem;
  transition: all 0.2s;
}

@media (hover: hover) {
  .productText > a:hover {
    background-color: var(--orange-hover);
  }

  .itemAmount button:hover {
    color: var(--orange);
  }

  .addCart:hover {
    background-color: var(--orange-hover);
  }
}

@media (max-width: 768px) {
  .category.product {
    flex-direction: column;
    gap: 5rem;
  }

  .productPage.product {
    gap: 7rem;
  }

  .productPage .productImg {
    width: 28rem;
    min-width: unset;
    flex-grow: 0;
  }

  .category .productText {
    width: 80%;
    text-align: center;
  }

  .productPage .productText h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}
