.thumbnailsSection {
  padding-top: 16rem;
  background-color: var(--gray-light);
  display: flex;
  gap: 3rem;
}

.thumbnailBox {
  height: 20rem;
  background: var(--gray);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  cursor: pointer;
}

.thumbnailBox img {
  width: 65%;
  height: 100%;
  object-fit: contain;
  margin-top: -7rem;
}

.thumbnailText {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: black;
  margin-top: -1.5rem;
}

.btnThumbnailShop {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btnThumbnailShop span {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
  opacity: 0.5;
  transition: all 0.2s;
}

@media (hover: hover) {
  .thumbnailBox:hover .btnThumbnailShop span {
    color: var(--orange);
  }
}

@media (max-width: 768px) {
  .thumbnailsSection {
    gap: 1rem;
  }

  .thumbnailBox img {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .thumbnailsSection {
    flex-direction: column;
    gap: 10rem;
  }
}
