:root {
  --orange: #d87d4a;
  --orange-hover: #fbaf85;
  --black-light: #101010;
  --gray-dark: #4c4c4c;
  --gray: #f1f1f1;
  --gray-light: #fafafa;
  --input-border: #cfcfcf;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a.active {
  color: var(--orange);
}
